
.main-service{
    width: 100%;
   
    background-color: #F6F6F6;
}
.main-card svg{
    color: #007E6A;
}
.card1{
    background-color: #fff;
    align-items: center;
    padding:20px;
    text-align: center;
    box-shadow: 2px 1px 6px #888888;
}
.card-group1{
    gap:2rem
}
.main-service h1{
    
    font-family: "DM Sans"
    sans-serif;
    font-size: 38px;
    line-height: 48px;
    font-weight: 700;
}
.card-title1{
    font-size: 23px;
    font-weight: 700;
    line-height: 26px;
    cursor: pointer;
}
.card-title1:hover {
    color: #007E6A;
    
}