.main-swipe{
   background-color:#397F6A;
   width: 3rem;
}
.swiper-slide img{
    width: 10rem;
    height: 10rem;
    margin-top: 16px;
    margin-inline-start: 5rem;
}
@media screen and (max-width:600px) {
    .swiper-slide img{
        width: 5rem;
        height: 5rem;
    }
    
}