.dark{
    background-color: black!important;
    color: white!important;
}
.light{
    background-color: white!important;
    color: black!important;
}
.borderLight{
    border-bottom: 3px solid black;
    width: 90%;
    margin: auto;
}
.borderDark{
    border-bottom: 3px solid white;
    width: 90%;
    margin: auto;
}